# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="{provider}://{user}:{password}@{server}:{port}/{nama_database}"

# NEXT CONFIG
NEXT_PUBLIC_BASE_URL=

# API AVATAR
NEXT_PUBLIC_API_AVATAR_URL=

# NEXTAUTH CONFIG
NEXTAUTH_SECRET=
NEXTAUTH_MAX_AGE_TOKEN=

# CLOUDINARY CONFIG
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET_FACILITY=
NEXT_PUBLIC_CLOUDINARY_API_KEY=
NEXT_PUBLIC_CLOUDINARY_API_SECRET=

# RESEND CONFIG
RESEND_API_KEY=
BASE_EMAIL_APP=
BASE_SIGNATURE_APP=